<body style="background-image: url('./assets/image/fondo_login.jpg')">
  <div class="login-container">
  <div class="login-form">
  <h1 class="login-title">Iniciar sesión</h1>
  <mat-form-field class="login-input">
    <input matInput placeholder="Usuario" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="login-input">
    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password">
  </mat-form-field>
  <div class="login-buttons">
    <button mat-raised-button class="login-button" (click)="login()">Ingresar</button>
    <button mat-raised-button class="register-button" routerLink="/pages/usuario/new">Registrarse</button>
  </div>
</div>
</div>
</body>
