
<header style="background-image: url('./assets/image/playa_familia.jpg')">


  <div class="container">
    <div class="texto1">
      <div class="tittle font-weight-bold">
        Descubre el mundo de una forma más facil!!
        <p style="font-size: medium">
          <br />
          Descarga EasyTravel y no esperes más a crear tu cuenta.
          <br />Con funcionalidades utiles que te facilitarán a encontrar
          <br />tu proximo destino turistico
        </p>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      class="btn btn-regist me-md-2 font-weight-bold"
      routerLink="/usuario/new"
      type="button"
    >
      Regístrate ahora
    </button>
  </div>
</header>

<main>
  <div class="row py-5" id="row-destinos">
    <div class="container">
      <div class="texto">
        <h1 style="color: #5497a7" class="font-weight-bold">
          Encuentra un destino turístico cerca de donde estés!!
        </h1>

        <p>
          Con sus impresionantes vistas panorámicas, antiguos
          <br />templos y fortalezas, y una naturaleza sorprendente, Machu
          <br />Picchu es una experiencia única que no puedes perderte. Su
          <br />belleza natural, rica historia y misteriosa leyenda, hacen de
          <br />Machu Picchu un destino turistico fascinante para visitantes
          <br />de todo el mundo
        </p>
        <button
          class="btn btn-destino me-md-2 font-weight-bold"
          routerLink="/places"
          type="button"
        >
          Conoce más aqui
        </button>
      </div>

      <img src="./assets/image/machupichu.jpg" />
    </div>
  </div>

  <div class="row py-5" id="row-viajes">
    <div class="container">
      <div class="texto">
        <h1 class="font-weight-bold" style="text-align: center">Viajes</h1>

        <p>
          <br />
          En nuestra sección de viajes, te ofrecemos información sobre los
          costos de <br />vuelos y empresas de transporte para viajar. Te
          brindamos detalles sobre las <br />opciones disponibles, como las
          aerolíneas, rutas y horarios, para que puedas <br />comparar precios y
          encontrar las mejores opciones para tus viajes. <br />Además, también
          te proporcionamos recomendaciones y consejos útiles <br />para ahorrar
          en tus vuelos y sacar el máximo provecho de tus viajes. <br />Descubre
          todo lo que necesitas saber sobre los costos de vuelos y empresas de
          transporte en nuestra sección de viajes.
        </p>
        <div class="aerolineas">
          <img
            src="./assets/image/latam.png"
            alt="logo de la aerolinea latam"
          />
          <img src="./assets/image/sky.png" alt="logo de la aerolinea sky" />
          <img
            src="./assets/image/avianca.png"
            alt="logo de la aerolinea avianca"
          />
        </div>
        <button
          class="btn btn-viajes me-md-2 font-weight-bold"
          routerLink="/empresa-transporte"
          type="button"
        >
          Empresas afiliadas
        </button>
      </div>

      <figure>
        <img src="./assets/image/aeropuerto.jpg" alt="Figura3" />
      </figure>
    </div>
  </div>

  <div class="row py-5" id="row-hotel">
    <h1 class="font-weight-bold" style="text-align: center">Hoteles</h1>
    <div class="container">
      <div class="texto">
        <p>
          Te ofrecemos información detallada sobre los precios y
          <br />servicios de los hoteles. Te brindamos una selección de
          <br />opciones de hospedaje con diferentes rangos de precios,
          <br />para que puedas elegir la opción que mejor se adapte a tu
          <br />presupuesto. <br />Además, nuestra aplicación te recomienda los
          hoteles que <br />se encuentran cerca de los lugares turísticos que
          deseas <br />visitar, lo que te permite ahorrar tiempo y dinero en
          <br />transporte. Ofrecemos información útil sobre la ubicación
          <br />de cada hotel, sus servicios y comodidades, asi como las
          <br />opiniones y comentarios de otros huéspedes.
        </p>
      </div>
      <img src="./assets/image/hotel_cds.jpg" alt="Figura4" />
    </div>
  </div>

  <div class="row py-5" id="row-opinion">
    <div class="container">
      <div class="figura"></div>
      <img
        src="./assets/image/mochilera.jpg"
        alt="persona con mochila grande feliz "
      />
      <p>
        "He utilizado esta aplicación para planificar mis <br />últimas
        vacaciones en Perú y debo decir que estoy <br />muy impresionado. La
        aplicación es muy fácil de usar <br />y ofrece información detallada
        sobre destinos <br />turísticos, hoteles, costos de vuelos y empresas de
        <br />transporte. Me encantó la sección de hoteles, ya que <br />pude
        encontrar una gran variedad de opciones de <br />alojamiento a precios
        muy razonables."
        <br />
        <br />-Fernanda Acosta
      </p>
    </div>
  </div>
</main>

<footer>
  <div class="col">
    <h2>EasyTravel</h2>
    <p>
      Esta aplicación permite la reservación <br />para viajes y hoteles según
      la <br />preferencia del usuario.
    </p>
  </div>
  <div class="col">
    <h2>Social Media</h2>
    <ul style="padding: 0%;" class="redes">
      <i class="fa-brands fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </ul>
  </div>
  <div class="col">
    <h2>Disponible en:</h2>

      <img  src="./assets/image/googleplay.png" alt="descargalo en play store" />
<br>
      <img   src="./assets/image/appstore.png" alt="descargalo en app store" />

  </div>
  <div class="col"></div>
  <div class="col"></div>
</footer>

