<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <div style="text-align: center">
        <h1>Hoteles</h1>
        <i class="fa-solid fa-hotel"></i>
      </div>
      <div style="text-align: right">
        <button
          mat-raised-button
          style="background-color: #264653; color:#fff"
          routerLink="/hotels/new"
        >
          Agregar
        </button>
      </div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Contador:</mat-card-title>
          <mat-card-subtitle>{{ count }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <br />
      <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
      </mat-form-field>

      <div class="grid-container">
        <mat-card *ngFor="let element of dataSource" class="card-item">
          <mat-card-header>
            <div class="header-left">
              <mat-card-title>{{ element.nombre }}</mat-card-title>
              <mat-card-subtitle>{{ element.ciudad }}</mat-card-subtitle>
              <p>{{ element.descripcion }}</p>
            </div>
            <div class="header-right">
              <div class="buttons-container">
                <button mat-icon-button color="primary" [routerLink]="['edicion', element.idHotels]">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="confirm(element.idHotels)">
                  <mat-icon>delete</mat-icon>
                </button>

              </div>
            </div>
          </mat-card-header>
          <div class="card-content-container">
            <mat-card-content>
              <ngb-rating [max]="5" [rate]="element.estrellas" [readonly]="true"></ngb-rating>
              <p>Precio por noche: s/{{ element.precio_noche }}.00</p>
              <p>Valoración: {{ element.valoracion_promedio }}</p>
              <p>Servicios: {{ cadenaServicios(element.idHotels) }}</p>
            </mat-card-content>
          </div>



          <mat-card-actions>
            <div class="comments-section">
              <button class="toggle-comments" (click)="toggleComments(element.idHotels)">
                <span *ngIf="showComments[element.idHotels]">Cerrar Comentarios</span>
                <span *ngIf="!showComments[element.idHotels]">Abrir Comentarios</span>
                <span
                  class="material-icons"
                  >{{ showComments[element.idHotels] ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span
                >
              </button>
              <button
                mat-raised-button
                style="background-color: #264653; color:#fff"
                [routerLink]="['comentario', element.idHotels]"
                [queryParams]="{ readonly: true }"
                *ngIf="showComments[element.idHotels]"
              >
                Agregar Comentario
              </button>
            </div>
          </mat-card-actions>
          <div class="comments" *ngIf="showComments[element.idHotels]">
            <div class="comment-row" *ngFor="let comentario of comentarios[element.idHotels]">
              <div class="comment-info">
                <p>{{ comentario.usuario.nombre }}:</p>
              </div>
              <div class="comment-content">
                <p>{{ comentario.comentario }}</p>
              </div>
              <div class="comment-valoracion">
                <p>Valoración: {{ comentario.valoracion }}</p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
  </body>
</html>
