<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="container">
        <br />
        <div style="text-align: center">
          <h1>Empresas de Transporte</h1>
          <i class="fa-solid fa-bus"></i>
        </div>
        <div style="text-align: right">

          <button
          *ngIf="role==='ADMIN'"
            mat-raised-button
            style="background-color: #264653; color: #fff"
            routerLink="/empresa-transporte/new"
          >
            Agregar
          </button>

        </div>
        <mat-form-field>
          <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
        </mat-form-field>
      </div>

      <mat-grid-list cols="3" class="container">
        <mat-grid-tile *ngFor="let em of dataList">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ em.nombre }}</mat-card-title>
            </mat-card-header>
            <img
              style="
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
              "
              src="{{ em.logo }}"
              alt="logo de empresa"
            />
            <mat-card-content>
              <p>Ruc: {{ em.ruc }}</p>
              <p>Dirección: {{ em.direccion }}</p>
              <p>Contacto: (+51) {{ em.contacto }}</p>
            </mat-card-content>
            <mat-card-actions>

              <button
              *ngIf="role==='ADMIN'"
                mat-raised-button
                style="background-color: #2a9d8f"
                [routerLink]="['edicion', em.idEmpresa]"
              >
                <span class="material-icons">edit</span>
              </button>
              <button
              *ngIf="role==='ADMIN'"
                mat-raised-button
                style="background-color: #f4a261"
                (click)="confirm(em.idEmpresa)"
              >
                <span class="material-icons">delete</span>
              </button>

            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </body>
</html>
