<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <br>
    <div style="text-align: center;">
      <h1 >Lista de Empresas de Transporte</h1>
    </div>
    <div style="text-align: right;">
    <button  mat-raised-button color="warn" routerLink="/empresa_transportes/new" >Agregar</button>
  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idEmpresa}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="ruc">
        <th mat-header-cell *matHeaderCellDef> Ruc </th>
        <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <ng-container matColumnDef="contacto">
        <th mat-header-cell *matHeaderCellDef> Contacto </th>
        <td mat-cell *matCellDef="let element"> {{element.contacto}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</body>
</html>

