<div class="container">
  <h1>Registro de Actividades</h1>
  <form [formGroup]="form" (submit)="aceptar()">

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" formControlName="idActividad">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="Canotaje" formControlName="nombre">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Categoría</mat-label>
    <mat-select formControlName="categoria" required>
      <mat-option value="Acuática">Acuática</mat-option>
      <mat-option value="Náutica">Náutica</mat-option>
      <mat-option value="Subacuática">Subacuática</mat-option>
      <mat-option value="Recreativas">Recreativas</mat-option>
      <mat-option value="Deportiva">Deportiva</mat-option>
      <mat-option value="Deportiva Extrema">Deportiva Extrema</mat-option>
      <mat-option value="Aérea">Aérea</mat-option>
      <mat-option value="Cultural">Cultural</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Descripcion</mat-label>
    <input matInput required placeholder="Canotaje para cuatro personas" formControlName="descripcion">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Duración</mat-label>
    <mat-select formControlName="duracion" required>
      <mat-option value="15">15 min</mat-option>
      <mat-option value="30">30 min</mat-option>
      <mat-option value="60">1 hora</mat-option>
      <mat-option value="120">2 horas</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Paquete</mat-label>
    <mat-select formControlName="paquete" [(value)]="idPaqueteSeleccionado" required>
      <mat-option *ngFor="let p of lista" [value]="p.idPaquete">
        {{p.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>

    <button mat-raised-button color="warn" routerLink="/pages/actividades">Cancelar</button>
  <p>{{mensaje}}</p>
  </form>
</div>
