<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <div >
    <br>
    <div style="text-align: center;">
      <h1>Registro de Empresas de Transporte</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="N°" formControlName="idEmpresa">
      </mat-form-field>
<br>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="AVIANCA PERÚ S.A" formControlName="nombre">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Ruc</mat-label>
        <input matInput placeholder="20348858182" formControlName="ruc">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="AV. VICTOR ANDRES BELAUNDE URB." formControlName="direccion">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Contacto</mat-label>
        <input matInput placeholder="(+51) 0801-8222" formControlName="contacto">
      </mat-form-field>
<br>
<br>
      <button mat-raised-button color="primary" >Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/empresa_transportes" >Cancelar</button>
      <p>{{mensaje}}</p>

    </form>

  </div>
  </div>
</body>
</html>
