<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
  <h1>Comentario</h1>
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="Id" formControlName="idComentariosHotel">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="usuario" [(value)]="idUsuarioSeleccionado" required>
        <mat-option *ngFor="let u of listaUsuarios" [value]="u.id">
          {{ u.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Hotel</mat-label>
      <input matInput placeholder="Hotel" [value]="nombreHotel" disabled>
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Valoración</mat-label>
      <input matInput type="number" required placeholder="5" formControlName="valoracion">
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Comentario</mat-label>
      <textarea matInput required placeholder="Ingrese su comentario" formControlName="comentario"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/hotels">Cancelar</button>
    <p>{{ mensaje }}</p>
  </form>
</div>
</body>
</html>

