<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style="text-align: center;" class="container">
    <div>
      <br>
      <div style="text-align: center;">
        <h1>Registro de paquetes</h1>
      </div>
      <form [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Código</mat-label>
          <input matInput placeholder="N°" formControlName="idPaquete">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Lima Aventura" formControlName="nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Precio</mat-label>
          <input matInput placeholder="1500.70" formControlName="precio">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Destino Turístico</mat-label>
          <mat-select formControlName="place" [(value)]="idPlaceSel" required>
            <mat-option *ngFor="let a of lista_place" [value]="a.id">
              {{a.namePlace}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Viaje</mat-label>
          <mat-select formControlName="viaje" [(value)]="idTravelSel" required>
            <mat-option *ngFor="let a of lista_travel" [value]="a.idViaje">
              {{a.idViaje}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Hotel</mat-label>
          <mat-select formControlName="hotels" [(value)]="idHotelSel" required>
            <mat-option *ngFor="let h of lista_hotel" [value]="h.idHotels">
              {{h.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Ahorro</mat-label>
          <input matInput placeholder="150.10" formControlName="ahorro">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Tipo de Habitación</mat-label>
          <mat-select formControlName="tipoHabitacion">
            <mat-option value="Habitación Individual">Habitación Individual</mat-option>
            <mat-option value="Habitación Doble">Habitación Doble</mat-option>
            <mat-option value="Habitación Doble con Cama Matrimonial">Habitación Doble con Cama Matrimonial</mat-option>
            <mat-option value="Habitación Doble con Dos Camas">Habitación Doble con Dos Camas</mat-option>
            <mat-option value="Habitación Triple">Habitación Triple</mat-option>
            <mat-option value="Suite">Suite</mat-option>
            <mat-option value="Habitación Familiar">Habitación Familiar</mat-option>
            <mat-option value="Habitación Ejecutiva">Habitación Ejecutiva</mat-option>
            <mat-option value="Habitación con Vista al Mar">Habitación con Vista al Mar</mat-option>
            <mat-option value="Habitación con Acceso para Discapacitados">Habitación con Acceso para Discapacitados</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>No. de Noches</mat-label>
          <input matInput placeholder="2" formControlName="cantidadNoches">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Checkin</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="checkin" [max]="maxFecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Checkout</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="checkout" [max]="maxFecha">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-raised-button style="background-color: #2a9d8f;" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button style="background-color: #e76f51;" routerLink="/pages/paquetes">Cancelar</button>


        <p>{{mensaje}}</p>

      </form>

    </div>
  </div>
</body>

</html>
