<!--<p>
  <mat-toolbar *ngIf="verificar()">
      <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
       *ngIf="validarRol()" routerLink="/pages/menu">
          <span>Menú</span>
      </button>

      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      routerLink="/login" (click)="cerrar()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesiòn</span>
      </button>
      <span class="example-spacer"></span>
  </mat-toolbar>
<p>-->

<router-outlet></router-outlet>


