<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="text-align: center;" class="container">
  <div >
    <br>
    <div style="text-align: center;" >
      <h1>Registro de hoteles</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="N°" formControlName="id">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ex. Casa Andina" formControlName="nombre">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Precio por noche</mat-label>
        <input matInput placeholder="Solo ingrese el monto (ej. 80)" formControlName="precio_noche">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Ciudad</mat-label>
        <input matInput placeholder="Rio de Janeiro" formControlName="ciudad">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Valoración</mat-label>
        <input matInput placeholder="0-10" formControlName="valoracion_promedio">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Estrellas</mat-label>
        <input matInput placeholder="0-5" formControlName="estrellas">
      </mat-form-field>
<br>
<button mat-raised-button style="background-color: #2a9d8f;" >Aceptar</button>
<button mat-raised-button style="background-color: #e76f51;" routerLink="/hotels">Cancelar</button>


      <p>{{mensaje}}</p>

    </form>

  </div>
  </div>
</body>
</html>
