<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="text-align: center;" class="container">
  <div >
    <br>
    <div style="text-align: center;" >
      <h1>Registro de servicios</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="N°" formControlName="idServicio">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Piscina Temperada" formControlName="nombre">
      </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Piscina amplia con agua temperada balbalbalba" formControlName="descripcion">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Hotel</mat-label>
        <mat-select formControlName="hotels" [(value)]="hotelSeleccionado" required>
          <mat-option *ngFor="let h of listaHotel" [value]="h.idHotels">
            {{h.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

<br>
<button mat-raised-button style="background-color: #2a9d8f;" >Aceptar</button>
<button mat-raised-button style="background-color: #e76f51;" routerLink="/servicios">Cancelar</button>


      <p>{{mensaje}}</p>

    </form>

  </div>
  </div>
</body>
</html>
