<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div style=" text-align: center;">
      <h1>Cantidad de intereses por usuario</h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element of InteresesCounts"> {{element.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Numero de intereses </th>
        <td mat-cell *matCellDef="let element of InteresesCounts"> {{element.InteresesCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</body>

</html>
