<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div style="text-align: center;">
      <h1>Destinos Turísticos</h1>
      <i class="fa-solid fa-umbrella-beach"></i>
    </div>
    <mat-form-field>
      <input matInput (keyup)=filter($event) placeholder="buscar"/>
    </mat-form-field>
    <div style="text-align: right;">
      <button mat-raised-button style="background-color: #264653; color:#fff" routerLink="/places/new">Agregar</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Destino </th>
        <td mat-cell *matCellDef="let element"> {{element.namePlace}} </td>
      </ng-container>

      <!-- Weight Column -->

      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descriptionPlace}} </td>
      </ng-container>

      <!-- Symbol Column -->

      <ng-container matColumnDef="País">
        <th mat-header-cell *matHeaderCellDef> País </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
      <ng-container matColumnDef="accionEditar">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">

          <button mat-raised-button style="background-color: #2a9d8f;" [routerLink]="['edicion', element.id]">
            <span class="material-icons">edit</span></button>     </td>

     
        </td>

      </ng-container>
      <ng-container matColumnDef="accionEliminar">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button style="background-color: #f4a261;" (click)="confirm(element.id)"><span class="material-icons">delete</span></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
  </div>
</body>
</html>
